<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FileSorter</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AA2C7B0EC8F16EF9578D372210F0CCF2CB2D0B8A</string>
				<key>dateExpires</key>
				<string>6/30/20</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FileSorter.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XQ284ZEU8W</string>
				<key>name</key>
				<string>Koray Birand</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
